@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&family=Rajdhani:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0fdf4;
    /* Light green tint fallback */
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}